#app {
    
}

.sidebar {
    position: fixed;
    
    height: 100%;
    color: white;
    background-color: #616161;
}

.logo {
    width: 100%;
    height: 40px;
    color: white;
    background-color: #616161;
}