#app {
    
}

.sidebar {
    float:left;
    display: inline-block;
    width: 250px; 
    height: 100%;
    color: white;
    background-color: #616161;
    overflow: auto;
}

.code {
    float:right;
    display: inline-block;
    width:1000px;
    overflow-y:auto;
}

.logo {
    width: 100%;
    height: 40px;
    color: white;
    background-color: #616161;
}
