#app {
    
}

.sidebar {
    position: fixed; 
    height: 100%;
    color: white;
    background-color: #616161;
    }

.sidebar-wrapper {
    top: 0px;
    z-index: 2;
    position: fixed;
    width: 100%;
}

.logo {
    width: 100%;
    height: 40px;
    color: white;
    background-color: #616161;
}

.navbar {
    margin-bottom: 0px;
    min-height: 30px;
}

.code {
    margin-top: 40px;
}